@page "/gameloopstatus/{InstanceId}"
@using AdventureBotUI.Client.Services
@using Read
@inject AdventureBotReadService adventureBotReadService
@inject NavigationManager NavigationManager

<PageTitle>Adventure Bot</PageTitle>

<h1>Adventure Bot</h1>
@if (votingCounter == null)
{
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <button class="btn btn-primary" disabled="@HasSubmitted" @onclick="GetStatus">Get Status</button>
            </div>
        </div>
    </div>
}
else
{
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <table class="table">
                    <thead>
                        <th>Member</th>
                        <th>Vote</th>
                    </thead>
                    <tbody>
                        @foreach(var item in votingCounter.VoterList)
                        {
                        <tr>
                            <td>@item.Key</td>
                            <td>@item.Value</td>
                        </tr>
                        }
                    </tbody>
                </table>
                
                @if (gameEntries == null)
                {
                    <div>loading...</div>
                }
                else
                {
                    <div>&#160;</div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>@votingCounter.PriorVote</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var gameEntry in gameEntries.OrderBy(x => x.Created))
                            {
                            <tr>
                                <td>
                                    <ul style="margin:0px;padding:0px;">
                                    @foreach (var desc in gameEntry.Description)
                                    {
                                        <li>@desc</li>
                                    }
                                    </ul>
                                    <br/>
                                    <b>Option(s):</b>
                                    <ul>
                                    @if(gameEntry.Options != null)
                                    {
                                        @foreach (var gameOption in gameEntry.Options)
                                        {
                                            <li>@gameOption.Description</li>
                                        }
                                        if(!gameEntry.Options.Any()){
                                            <li>Game over. Start over.</li>
                                        }
                                    }
                                    </ul>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                }
            </div>
        </div>
    </div>
}
@code 
{

    [Parameter]
    public string InstanceId { get; set; }
    protected VotingCounter votingCounter = null;
    private bool HasSubmitted = false;
    protected List<GameEntry> gameEntries = null;
    protected override async Task OnParametersSetAsync()
    {
        
    }
    private async Task GetStatus()
    {
        HasSubmitted = true;
        votingCounter = await adventureBotReadService.GameLoopGetAsync(InstanceId);
        gameEntries = (await adventureBotReadService.GameEntrySearchAsync(votingCounter.PriorVote)).ToList();
    }
}
